/* Main view setup */

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
}

/* Header and Footer */

header {
    text-align: center;
    height: 20px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -15px;
    box-sizing: border-box;
    min-height: 10px;
    padding-top: 3px;
    text-align: center;
    color: white;
    background-color: red;
      
}

/* Game area */

.game-area {
    width: 75%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control-area {
    display: inline-block;
    margin: 4px;
    width: 80px;
    height: 50px;
}

.control {
    width: 110px;
    height: 40px;
    font-size: small;
}
 
#reset {
        width: 110px;
        height: 40px;
        font-size: medium;
}

#reset {
    margin-top: 200px;
    margin-left: 150px;
}

.player {
    background-color: yellow;
    float: left;
    width: 30%;
    position: relative;
}

#player-image {
    width: 115px;
    height: 120px;
}

.computer {
    background-color: blue;
    float: right;
    width: 30%;
    position: relative;
}

#computer-image {
    width: 115px;
    height: 120px;
}

/* Media Queries Responsive Sizes */

@media only screen and (min-width: 320px)   and (max-width: 480px) {
    header {
        text-align: center;
        height: auto;
        font-size: x-small;
    } 

    #sub-heading {
        font-size: medium;
    }

    footer {
    position: absolute;
    width: 100%;
    margin-top: -10px;
    text-align: center;
    color: white;
    background-color: red;
    }

    .control {
        width: 32%;
        height: 40px;
        font-size: 11px;
    }

    .player {
        width: 100%;
        height: 100px;
        margin-top: -20px;
    }

    #player-image {
        width: 80%;
        height: 50px;
    }

    .computer {  
        width: 100%;
        height: 100px;
        margin-top: 30px;
    }

    #computer-image {
        width: 80%;
        height: 50px;
    }

    #reset {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 33%;
    }

    #reset {
        width: 110px;
        height: 40px;
        font-size: medium;
        float: inline-start;
    }
}

@media only screen and (min-width: 481px)   and (max-width: 768px) {
    #reset {
        margin-right: 60px;
        margin-top: 40px;
    }
}