/* Main view setup */

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
}

/* Header and Footer */

header {
    text-align: center;
    height: 50px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: white;
    background-color: red;
}

/* Game area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control-area {
    display: inline-block;
    margin: 4px;
    width: 80px;
    height: 50px;
}
.control {
    width: 110px;
    height: 70px;
    font-size: medium;
}

#messages {
    height: 20px;
}

#reset {
        width: 110px;
        height: 70px;
        font-size: medium;

}

#reset {
    position: fixed;
    margin-top: 240px;
}

.player {
    background-color: yellow;
    float: left;
    width: 45%;
}

#player-image {
    width:150px;
    height: 120px;
}

.computer {
    background-color: blue;
    float: right;
    width: 45%;
}

#computer-image {
    width: 150px;
    height: 120px;
}